<% if @pilot %>
  <h1>Bem Vindo <%= @pilot.name %></h1>
  <p>Aqui sua classificação no seu Campeonato corrente:</p>
  <%= render :partial => 'pilots/results' %>
<% else %>
    <h2>Todos Campeonados</h2>
    <% @championships.each do |c|%>
        <h2><%= c.name %></h2>
        <%= render :partial => 'championships/result_short', :locals => { :@championship => c } %>
    <% end %>
<% end %>

